EXPO_PUBLIC_API_URL=http://localhost:8080
EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_GOOGLE_MAPS_KEY=
EXPO_PUBLIC_RAZORPAY_KEY=rzp_test_...
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
